[[source]]
url = "http://pypi.douban.com/simple"
verify_ssl = false
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"
coverage = "*"
coveralls = "*"

[packages]
django = "*"
celery = "*"
django-suit = "*"
mysqlclient = "*"
djangorestframework = "*"
pycrypto = "==2.6.1"
locustio = "*"

[requires]
python_version = "3.6"
